<div class="container mx-auto px-5 py-10 text-center">
  <h1 class="text-xl font-bold mb-5">ユーザー新規作成</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <fieldset class="fieldset border-base-200 rounded-box w-xs border p-4 mx-auto">
  <%= render "devise/shared/error_messages", resource: resource %>

  <label class="label">ユーザー名</label>
  <div class="input">
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <label class="label">Eメール*</label>
  <div class="input">
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <label class="label">パスワード*</label>
  <div class="input">
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "#{@minimum_password_length}文字以上" %>
  </div>

  <label class="label">パスワード（確認用）*</label>
  <div class="input">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "#{@minimum_password_length}文字以上"  %>
  </div>

  <button class="btn btn-neutral mt-4">
    <%= f.submit "登録する" %>
  </button>
  </fieldset>
<% end %>
<div class="mt-10 ">
  <%= render "devise/shared/links" %>
</div>
