<div class="container mx-auto px-5 py-10 text-center">
  <h1 class="text-xl font-bold mb-5">
    <%= @gift_list.recipient_name %>へ贈る<br>
    <%= @gift_list.purpose.presence || "ギフトリスト" %>
  </h1>
  <div class="">
    <p><%= @gift_list.user.name %>さんからギフトリストが届きました！<br>ご希望のギフトを１つ選んでください</p>
  </div>
  <% if @gift_list.message? %>
  <div class="mt-5">
    <p><%= @gift_list.user.name %>さんからのメッセージ</p>
    <p><%= @gift_list.message %></p>
  </div>
  <% end %>
  </div>

  <% if @gift_items.any? { |gift_item| gift_item.confirmed? } %>
    <div role="alert" class="alert alert-outline alert-success text-xs m-2">
      <i class="fa-solid fa-circle-info"></i>
      <span><%= @gift_list.user.name %>さんに通知済みです！ギフトが届くまでお待ちください</span>
    </div>
  <% end %>

  <!-- ギフトアイテム確定ボタン -->
  <% if @gift_items.any? { |gift_item| gift_item.selected? } %>
    <% confirm_message = "#{@gift_list.user.name}さんに伝えてもよいですか？" %>
    <div class="m-10">
    <p class="mb-5 text-sm">
    選んだギフトはまだ通知されていません。「通知する」ボタンを押しましょう！</p>
        <%= button_to "#{@gift_list.user.name}さんに通知する",
          { controller: "shared_gift_lists", action: "confirm" },
          { class: "btn btn-accent", data: { turbo_confirm: confirm_message } } %>
    </div>
  <% end %>

    <% if @gift_items.present? %>
      <div class="grid grid-cols-2 grid-rows-2 gap-5 md:grid-cols-3">
        <%= render partial: "gift_items/shared_gift_item", collection: @gift_items, as: "gift_item" %>
      </div>
    <% else %>
      <div>
        登録されたギフトがありません
      </div>
    <% end %>
</div>