<header class=" bg-yellow-200">
<div class="flex justify-center items-center gap-4">
  <h1 class="text-xl"><%= link_to "カタログギフトメーカー", root_path %></h1>
  <ul class="menu menu-vertical lg:menu-horizontal rounded-box">
    <li><%= link_to "通知アイコン", "#" %></li>
    <li><%= link_to "ギフトリストを作る", "#" %></li>
    <li><%= link_to "ギフトリスト一覧", gift_lists_path %></li>
    <li><%= link_to "マイページ", "#" %></li>
    <li><%= link_to "ユーザー新規登録", new_user_registration_path %></li>
    <li><%= link_to "ログイン", new_user_session_path %></li>
    <li><%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }%></li>
    <% if user_signed_in? %>
      <li><%= current_user.name %></li>
    <% end %>
  </ul>
</div>
</header>