<div class="container mx-auto px-5 py-10 text-center">
  <h1 class="text-xl font-bold mb-5">
    <%= @gift_list.recipient_name %>へ贈る<br>
    <%= @gift_list.purpose.presence || "ギフトリスト" %>
  </h1>
  <div><%= link_to "リスト名を編集", edit_gift_list_path, class: "text-sm" %></div>
  <div><%= link_to "リストを削除", gift_list_path, class: "btn text-sm mr-2", data: { turbo_method: :delete } %></div>
  <%= link_to "ギフトを追加", new_gift_list_gift_item_path(@gift_list.id), class: "btn btn-neutral mt-4" %>
  <% if @gift_items.present? %>
    <p class="m-4">シェア用のURLはこちら　https://catalog-gift-maker.onrender.com/shared_gift_lists/<%= @gift_list.id %>/</p>
  <% end %>

    <% if @selected_gift_item.present? %>
    <div class="w-full">
    <div class="card card-side bg-natural shadow-sm mb-5">
      <figure class="w-1/4 md:w-1/4 flex-shrink-0">
        <%= image_tag @selected_gift_item.image.url.presence, class: "object-cover h-full w-full" %>
      </figure>
      <div class="card-body">
        <h2 class="card-title"><%= @gift_list.recipient_name %>が選んだギフト</h2>
        <p>早速購入して贈りましょう！</p>
        <div class="card-actions justify-end">
          <% if @selected_gift_item.url.present? %>
            <%= link_to "ギフトを購入する", @selected_gift_item.url, target: "_blank", rel: "noopener", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
    </div>
    <% end %>

    <% if @gift_items.present? %>
      <div class="grid grid-cols-2 grid-rows-2 gap-5 md:grid-cols-3">
      <%= render @gift_items %>
      </div>
    <% else %>
      <div class="p-5">
        登録されたギフトがありません
      </div>
    <% end %>
  <%= link_to "< ギフトリスト一覧へ戻る", gift_lists_path, class: "link" %>
</div>