<%= form_with model:gift_item, url: gift_list_gift_items_path do |f| %>
  <fieldset class="fieldset border-base-200 rounded-box w-xs border p-4">

    <label class="label">商品URL</label>
    <div class="input">
      <%= f.text_field :url, autofocus: true, autocomplete: "url", placeholder: "https://〜" %>
    </div>
<!--
    <label class="label">商品名</label>
    <div class="input">
      <%= f.text_field :name, autocomplete: "name", placeholder: "コーヒーメーカー" %>
    </div>
    
    <label class="label">商品説明</label>
    <div class="input">
      <%= f.text_field :description, autocomplete: "description", placeholder: "電動ミル付きのコーヒーメーカーです" %>
    </div>

    <label class="label">商品画像</label>
    <div class="input">
      <%= f.text_field :image, autocomplete: "image", placeholder: "画像URL" %>
    </div>
-->
    <button class="btn btn-neutral mt-4">
      <%= f.submit "ギフトを登録" %>
    </button>

  </fieldset>
<% end %>
