
  <div class="card w-96 bg-base-100 card-sm shadow-sm">
    <figure>
      <%= link_to gift_item_path(gift_item) do %>
        <%= image_tag gift_item.image.presence || "https://placehold.jp/400x300.png?text=sample" %>
      <% end %>
    </figure>
    <div class="card-body">
      <h2 class="card-title"><%= gift_item.id %><%= gift_item.name %></h2>
      <div class="card-actions justify-end text-right">
        <%= link_to gift_item_path(gift_item) do %><p class="underline">ギフトの詳細を見る ></p><% end %>
        <%= button_to "このギフトを選ぶ", { controller: "shared_gift_lists", action: "choose" }, { params: {gift_item_id: gift_item.id}, class: "btn btn-neutral mt-4" } %>
      </div>
    </div>
  </div>
