<div class="container mx-auto px-5 py-10 text-center">
  <h1 class="text-xl font-bold mb-5">
    <%= @gift_item.gift_list.recipient_name %>さんへ贈る<br>
    <%= @gift_item.gift_list.purpose.presence || "ギフトリスト" %>
  </h1>
  <div class="mb-5">
    <%= link_to "ギフトの編集", edit_gift_item_path, class: "btn text-sm mr-2" %>
    <%= link_to "ギフトの削除", gift_item_path(@gift_item), class: "btn text-sm mr-2", data: { turbo_method: :delete } %>
    <% if @gift_item.url.present? %>
      <%= link_to "ギフトの購入", @gift_item.url, target: "_blank", rel: "noopener", class: "btn btn-success" %>
    <% end %>
  </div>
  <div class="w-[90%] max-w-[500px] mx-auto bg-white p-4">
  <%= image_tag @gift_item.image.url.presence, class: "w-full h-auto mb-4" %>
  <h2 class="card-title mb-4"><%= @gift_item.name %></h2>
  <p class="mb-4 text-left text-sm/6"><%= @gift_item.description %></p>
  <div class="mt-3">
    <%= link_to "< 一覧へ戻る", gift_list_path(@gift_item.gift_list), {class: "text-sm"} %>
  </div>
</div>